.App {
  text-align: center;
/*  background-color: #E2E8E8;*/
  background-color: #8DE5F7; 
  display: flex;
  flex-direction: column;
/*  justify-content: center;*/
  min-height: 100vh;
}

/*.App-header {

  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  color: black;
}*/
